body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

.container{
width:70%;
margin:auto;
margin-top:40px;
}

h1{
color:#38bdf8;
}

.search-box{
margin-bottom:20px;
}

input{
padding:12px;
width:300px;
border:none;
border-radius:5px;
font-size:16px;
}

button{
padding:12px;
margin-left:5px;
background:#38bdf8;
border:none;
color:black;
font-weight:bold;
cursor:pointer;
border-radius:5px;
}

#result{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-top:20px;
}

img{
margin-top:10px;
border-radius:10px;
}

ul{
list-style:none;
padding:0;
}

li{
background:#1e293b;
margin:5px;
padding:10px;
border-radius:5px;
}